<div class="theForm">
  <h2>Meta Class : {{ model.name | uppercase }} <span class="info" *ngIf="CheckToBeSaved()"> (not saved)</span></h2>
  <table class="formTab">
    <tr>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="model.name" placeholder="Data type name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="model.status" placeholder="Statut">
            <!--<mat-option value=""></mat-option>-->
            <mat-option *ngFor="let option of (ItAssetStatusEnum | enumToArray)" [value]="option"> {{ItAssetStatusEnum[option]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        System Attributes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table cellspacing="0">
      <tr class="tabLineHead">
        <th>Name</th>
        <th>Label</th>
        <th>Type</th>
        <th>Values</th>
      </tr>
      <tr class="tabLine" *ngFor="let attr of model.attributes">
        <ng-container *ngIf="attr.isSystem">
          <td>{{attr.name}}</td>
          <td>{{attr.label}}</td>
          <td>{{attr.type}}</td>
          <td>{{attr.values}}</td>
        </ng-container>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Attributes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr class="tabLineHead">
        <td>
          <button mat-button (click)="AddAttribute($event)">
            <mat-icon>note_add</mat-icon>
          </button>
        </td>
        <th>Name</th>
        <th>Label</th>
        <th>Type</th>
        <th>Values</th>
      </tr>
      <tr class="tabLine" *ngFor="let attr of model.attributes">
        <ng-container *ngIf="!attr.isSystem">
          <td>
            <button mat-button (click)="DeleteAttribute(attr)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="attr.name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="attr.label">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="attr.type">
                <mat-option *ngFor="let option of (ItMetamodelAttributeTypeEnum | enumToArray)" [value]="option"> {{ItMetamodelAttributeTypeEnum[option]}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field *ngIf="attr.type == ItMetamodelAttributeTypeEnum.LIST">
              <input matInput [(ngModel)]="attr.values" [disabled]="attr.valSystem == true">
            </mat-form-field>
          </td>
        </ng-container>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Relations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr class="tabLineHead">
        <td>
          <button mat-button (click)="AddRelation($event)">
            <mat-icon>note_add</mat-icon>
          </button>
        </td>
        <th>Name</th>
        <th>Entity</th>
        <th>Label</th>
        <th>Cardinality</th>
      </tr>
      <tr class="tabLine" *ngFor="let rel of model.relations">
        <ng-container *ngIf="!rel.isSystem">
          <td>
            <button mat-button (click)="DeleteRelation(rel)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="rel.name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="rel.entity">
                <mat-option *ngFor="let e of guiCtrl.metamodels" [value]="e.id">{{e.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="rel.label">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="rel.values" [disabled]="rel.valSystem == true">
            </mat-form-field>
          </td>
        </ng-container>
      </tr>
    </table>
  </mat-expansion-panel>
  <table class="formTab">
    <tr>
      <td class="forDebug">ID: #{{model.GetId()}}</td>
      <td class="forDebug">Version: {{model.GetVersion()}}</td>
    </tr>
  </table>
  <mat-error *ngIf="error">
    {{errorMessage}}
  </mat-error>
  <div class="cmdButtons">
    <button mat-raised-button [disabled]="!CheckToBeSaved()" (click)="Save();">Save</button>
    <button mat-raised-button [disabled]="false" (click)="Delete();">Delete</button>
    <button *ngIf="error" mat-raised-button color="warn" (click)="Reload();">Reload</button>
  </div>
</div>
