mat-sidenav-container {
	height:100%;
}
app-footer {
  background-color: #100;
  position: absolute;
  bottom:0px;top:0px;
  max-height: 100%;
  z-index: 4;
  width:100%;
}
app-main-tab {
	height: 100%;
}
