<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="{{guiCtrl.IsSidenavIsOpen()}}" position="start" (closed)="OnClose()">
    
    <div style="margin:0px;padding:5px;">
      Domain
      <button mat-icon-button (click)="guiCtrl.AddNewPmtDomain($event)"><mat-icon>add_circle</mat-icon></button><br>
  <mat-button-toggle>MRE</mat-button-toggle>
  <mat-button-toggle>CMI</mat-button-toggle>
  <mat-button-toggle>TLA</mat-button-toggle>
</div>
    <!--
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Versions
          </mat-panel-title>
          <mat-panel-description>
            <a mat-line (click)="AddNewPmtVersion($event)"><mat-icon>note_add</mat-icon></a>
          </mat-panel-description>
        </mat-expansion-panel-header>
            <app-application-list [guiCtrl]="guiCtrl"></app-application-list> 
        pmt version...
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Domains
          </mat-panel-title>
          <mat-panel-description>
            <a mat-line (click)="AddNewDomain($event)"><mat-icon>note_add</mat-icon></a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        domains...
       <app-metamodel-list [guiCtrl]="guiCtrl"></app-metamodel-list>
      </mat-expansion-panel>
    </mat-accordion>
  -->
  </mat-sidenav>
  <app-main-tab  [guiCtrl]="guiCtrl"></app-main-tab>
</mat-sidenav-container>
<app-footer #footer *ngIf="guiCtrl.debugIsVisible" [guiCtrl]="guiCtrl"></app-footer>