<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" [selectedIndex]="guiCtrl.activeTabIndex">
  <mat-tab *ngFor="let tab of guiCtrl.tabs">
    <ng-template mat-tab-label>
      {{ tab.getLabel() }}
      <!--<button mat-icon-button (click)="close(tab.id, $event)"> TEST passing html elt from $event -->
      <button mat-icon-button (click)="guiCtrl.DeleteTabContent(tab);">
        <mat-icon aria-label="close tab">close</mat-icon>
      </button>
    </ng-template>
    <div class="tab-content">
      <div style="padding:16px;" *ngIf="tab.type == TabContentType.TXT" [innerHTML]="tab.content.html|keepHtml"></div>    
      <app-pmtversion *ngIf="tab.type == TabContentType.PMT_VERSION" [object]="tab.content" [guiCtrl]="guiCtrl"></app-pmtversion>
      <app-pmtdomain *ngIf="tab.type == TabContentType.PMT_DOMAIN" [object]="tab.content" [guiCtrl]="guiCtrl"></app-pmtdomain>
    </div>
  </mat-tab>
</mat-tab-group>
